.FacultyPage{
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #d1e5f0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.fupper{
    height: 20vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.fselector{
    height: 55px;
    width: 70%;
    background-color: rgb(255, 255, 252);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
}

.foptions{
    width: 33.33%;
    height: 100%;
    padding: 15px;
    justify-content: center;
    align-items: center;
    display: flex;
    color: black;
    font-size: larger;
    cursor: pointer;
}

.fmiddle{
    height: 60vh;
    width: 70%;
}

.flower{
    height: 20vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flogout{
    padding: 10px;
    width: 200px;
    background-color: rgb(138, 48, 7);
    color: white;
    font-size: larger;
    border-radius: 5px;
}

.flist{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: larger;
    color: black;
    align-items: center;
    background-color: white;
    box-sizing: border-box;
    padding: 20px;
    border-radius: 20px;
}

@media (max-width: 1000px) {
    .FacultyPage{
        font-size: 1.5vw;
    }
  }

.frow{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.fbold{
    width: 40%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    font-weight: 600;
}

.fget{
    width: 60%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}

.attendance-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  margin: auto;
}

.attendance-form__label {
  width: 100%;
  font-weight: bold;
  margin-top: 10px;
}

.attendance-form__input {
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

.attendance-form__button {
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  background-color: #032d5d;
  color: #fff;
  cursor: pointer;
  width: 20%;
  font-size: larger;
  transition: background-color 0.3s ease-in-out;
}

.attendance-form__button:hover {
  background-color: #0062cc;
}

